node_modules/
.env
.DS_Store
.vscode/
dist/
npm/
build/
coverage/
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
*.tsbuildinfo
*.env
.idea/
.cache/
frontend/node_modules
backend/node_modules
frontend/.env
backend/.env